.page {
    padding: 16px;
    gap: 16px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.title {
    font-family: Inter, Helvetica Neue, sans-serif;
    color: var(--color);
}

.avatar {
    width: 100px;
}

.backBtn {
    justify-self: start;
}

.questionText {
    display: flex;
    align-items: center;
}

audio {
    visibility: hidden;
}

.audioButton {
    background-color: transparent;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left: 4px;
    margin-right: 2px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    font-size: 80px;
    text-align: center;
}