.btn {
    --h: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid var(--btn-border);
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: var(--h);
    height: var(--h);
    width: fit-content;
    min-width: var(--h);
    padding: 0 16px;
    background-color: var(--btn-bg);
    color: var(--color);
    fill: var(--color);
    border-radius: calc(var(--h) / 2);
    outline: none;
    white-space: nowrap;
    transition: all .2s;
  }

@media (hover: hover) {
  .btn:hover {
      background-color: var(--btn-hover);
  }
}

.rnd {
  width: var(--h);
  padding: 4px;
}
